[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pydantic-settings = "*"
pymysql = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
